body {
    background-color: #202124;
    color: #ffffff;
    padding-top: 5rem;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.form-control {
    background-color: #292b2f;
    color: #ffffff;
    border: 1px solid #555;
}

.btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-primary:hover {
    background-color: #45a049;
    border-color: #45a049;
}

.form-control:focus {
    background-color: #33383b;
    color: #ffffff;
    border: 1px solid #45a049;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ffffff;
}

@media (max-width: 992px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
